{% extends 'base.html' %}
{% block content %}
    <form action="" method="post" id="add_form">{% csrf_token %}
        <div>
            <label for="header">Заголовок: </label>
        </div>
        <div>
            <input id="header" type="text" name="header">
        </div>
        <div>
            <label for="description">Описание: </label>
        </div>
        <div>
            <textarea id="description" rows="20" cols="70" name="description" form="add_form"></textarea>
        </div>
        <div>
            <label>Бесплатно: </label>
            <p><input name="is_free" type="radio" value="true" checked>Да</p>
            <p><input name="is_free" type="radio" value="false">Нет</p>
        </div>
        <div>
            <input type="submit" value="ОК">
        </div>
    </form>
{% endblock %}