{% extends 'base.html' %}
{% block content %}
    <div class="text-right"><a href="{% url 'week'  %}"
                           class="btn btn-default btn-lg btn-success">
                        <span class="glyphicon glyphicon-home"></span></a></div>
    <div class="text-center">
        <form action="" method="post" id="add_form">{% csrf_token %}
            <div>
                <label for="text">Текст акции: </label>
            </div>
            <div>
                <textarea id="text" rows="20" cols="70" name="text" form="add_form">{{ advertisement.text }}</textarea>
            </div>
            <div>
                <input type="submit" value="Подтвердить" class="btn btn-success">
            </div>
        </form>
    </div>
{% endblock %}