{% extends 'base.html' %}

{% block content %}
    <div class="text-right"><a href="{% url 'week'  %}"
                           class="btn btn-default btn-lg btn-success">
                        <span class="glyphicon glyphicon-home"></span></a></div>
    <div class="container table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>username</th>
                <th>firstname</th>
                <th>action</th>
                <th>time</th>
            </tr>
            </thead>
            <tbody>
            {% for action in actions %}
                <tr>
                    <td>{{ action.user__username }}</td>
                    <td>{{ action.user__first_name }}</td>
                    <td>{{ action.message }}</td>
                    <td>{{ action.time }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}