{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <h2>Welcome, {{ user.username }}</h2>
    <ul class="nav nav-pills nav-justified" id="myTab">
        <li><a href="#monday" data-toggle="tab">Понедельник</a></li>
        <li><a href="#tuesday" data-toggle="tab">Вторник</a></li>
        <li><a href="#wednesday" data-toggle="tab">Среда</a></li>
        <li><a href="#thursday" data-toggle="tab">Четверг</a></li>
        <li><a href="#friday" data-toggle="tab">Пятница</a></li>
        <li><a href="#saturday" data-toggle="tab">Суббота</a></li>
        <li><a href="#sunday" data-toggle="tab">Воскресенье</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane container" id="monday">
            <table class="table table-hover table-responsive">
                <thead>
                <tr>
                    <th>Название</th>
                    <th>Описание</th>
                    <th>Бесплатно</th>
                    <th>Изменить</th>
                    <th>Удалить</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <div class="tab-pane  container" id="tuesday">
            <table class="table table-hover table-responsive">
                <thead>
                <tr>
                    <th>Название</th>
                    <th>Описание</th>
                    <th>Бесплатно</th>
                    <th>Изменить</th>
                    <th>Удалить</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <div class="tab-pane container" id="wednesday">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Название</th>
                    <th>Описание</th>
                    <th>Бесплатно</th>
                    <th>Изменить</th>
                    <th>Удалить</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <div class="tab-pane container" id="thursday">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Название</th>
                    <th>Описание</th>
                    <th>Бесплатно</th>
                    <th>Изменить</th>
                    <th>Удалить</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <div class="tab-pane container" id="friday">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Название</th>
                    <th>Описание</th>
                    <th>Бесплатно</th>
                    <th>Изменить</th>
                    <th>Удалить</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <div class="tab-pane container" id="saturday">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Название</th>
                    <th>Описание</th>
                    <th>Бесплатно</th>
                    <th>Изменить</th>
                    <th>Удалить</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <div class="tab-pane container" id="sunday">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Название</th>
                    <th>Описание</th>
                    <th>Бесплатно</th>
                    <th>Изменить</th>
                    <th>Удалить</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
    <script src="{% static "js/week.js" %}"></script>
{% endblock %}