{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <h4>Привет, ты зашел как {{ user.username }}</h4>
    <p class="text-center"><a href="{% url 'list_user'%}" class="btn btn-info">Посмотреть список пользователей</a></p>
    <p class="text-center"><a href="{% url 'list_action'%}" class="btn btn-info">Посмотреть список действий пользователей</a></p>
    <ul class="nav nav-pills nav-justified" id="myTab">
        <li><a href="{% url 'day' num=3 %}">Четверг</a></li>
        <li><a href="{% url 'day' num=4 %}">Пятница</a></li>
        <li><a href="{% url 'day' num=5 %}">Суббота</a></li>
        <li><a href="{% url 'day' num=6 %}">Воскресенье</a></li>
    </ul>
    {% block day %}
    {% endblock %}
    <script src="{% static "js/week.js" %}"></script>
{% endblock %}